.headercontainer {
	z-index: 1000;
	left: 0px;
	top: 0px;
	position: fixed;
	height: 12vh;
	width: 100%;
	/* background-image: url("../../../public/img/headerbackgorund color.png"); */
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	cursor: default;

	z-index: 3;
}

.logoleft {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	display: flex;
	cursor: pointer;
	margin-left: 2.3vw;
	flex-shrink: 0;
}

.navelement {
	margin-right: 5vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 10vw;
}

.navelement > div {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	font-family: "Anek Tamil";
	font-style: normal;
	font-weight: 700;
	font-size: 3.5vh;
	line-height: 140%;
	/* identical to box height, or 42px */
	letter-spacing: 0.02em;
	text-transform: capitalize;

	color: #000000;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: right;
}
.token {
	font-family: "Anek Tamil";
	font-style: normal;
	font-weight: 700;
	font-size: 2.5vh;
	line-height: 140%;
	/* identical to box height, or 42px */
	letter-spacing: 0.02em;
	text-transform: capitalize;

	color: #ffffff;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}