.back{
    font-family: "NanumSquare";
    position: relative;
    margin-top: 12vh;
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.title{
    font-family: "NanumSquare";
    justify-content: center;
    display: flex;
    font-family: 'Anek Tamil';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    /* identical to box height, or 56px */
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: #000000;
}
.filter{
    font-family: "NanumSquare";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    /* identical to box height, or 56px */
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: #000000;
    justify-content: right;
    display: flex;
    /* margin-left: 1000px; */
}

.box{
    font-family: "NanumSquare";
    font-size: 20px;
    text-align: center;
    width: 198px;
    height: 43px;

    background: #67CE96;
    outline-color: #fff;
    
}

.contentwrap{
    font-family: "NanumSquare";
    /* flex-direction: column; */
    padding-top: 50px;
    margin-top: 50px;
    justify-content: center;
    /* display: flex; */
    overflow-y: scroll;
    width: 1600px;
    height: 580px;
    box-sizing: border-box;
}

.content{
    font-family: "NanumSquare";
    padding-top: 10px;
    margin-left: 100px;
    margin-top: 50px;
    width: 1400px;
    height: 290px;
    background: #67CE96;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}
.content div{
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: "NanumSquare";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    /* identical to box height, or 56px */
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content span{
    margin-left: 80px;
    font-family: "NanumSquare";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 140%;
    /* identical to box height, or 52px */
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.loding{
    width: 580px;
    height: 580px;
    animation: lodingani 2000ms infinite ease-in-out;
}

@keyframes lodingani{
    0% {
      transform: translateY(0px)
    }
    50%{
        transform: translateY(-100px);
    }
    to {
      transform: translateY(0px);
    }
  }